@font-face {
    font-family: noto;
    src: url(../font/NotoSansKR-Regular.ttf);
}

body.tunisiatrip {
    font-family: 'noto', sans-serif;
}

@media (max-width: 767px) {
    .section-1 {
        padding:0px 0;
    }
}

@media (max-width: 767px) {
    .city-top {
        padding-top: 5px;
        padding: 0px;
    }
}
.radius-20 {
    border-radius: 20px;
}
.city-top{
    padding-top: 5px;
}
body p {
    font-size: 1rem;
}

.main-title {
    font-size: 1.55rem;
    font-weight: 600;
    margin: 5px 0 20px 0;
}

.sub-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 5px 0 20px 0;
    font-weight: 700;
}

.sub-sub-title {
    font-size: 1.15rem;
    font-weight: 500;
}

/* navbar */
.navbar {
    height: 95px;
}

#myTopnav {
    display: flex;
    align-items: center;
}

.collapse.navbar-collapse.justify-content-center .navbar-nav li {
    margin-right: 20px;
}

.nav-item {
    color: #000;
    font-size: 17;
    font-family: noto;
    margin-right: 50px;
}

.navbar-nav li.nav-item a.nav-link {
    color: #000;
    text-decoration: none;
}

.navbar-nav li.nav-item a.nav-link:hover {
    color: #347EFF;
}

.nav-item .d-flex .align-items-center {
    margin-right: 50px;
}

#tunis-time {
    font-size: 14px;
    font-weight: 400;
}

#crcltuns {
    width: 15px;
    height: 15px;

}

.btn.btn-outline-primary.btn-main {
    height: 33px;
    border-radius: 8px;
    background-color: #ffffff;
    color: #347EFF;
    border: 1px solid #347EFF;
    font-family: noto;
    font-size: 17px;
    padding: 3px;
}
#logimg{

    height: auto;
    width:150px;
}
body .btn.btn-outline-primary.btn-main:hover ,.btn.btn-outline-primary.btn-main:active{
    color: #ffffff ;
    background-color: #347EFF;
}

.input-search {
    width: 47px;
    height: 33px;
    transition: all .5s !important;
    box-shadow: none !important;
    position: relative;
    border-radius: 8px;
    border: 1px solid #347EFF;
    color: transparent;
    cursor: pointer;
    padding: 2px 35px 2px 10px;
    font-size: 0.85rem;
}

.input-search:focus {
    width: 147px;
    border: 1px solid #347EFF !important;
    outline: none !important;
    color: #347EFF;
}

.icon-search {
    position: absolute;
    top: 5%;
    right: 14px;
    pointer-events: none;
}

/* icons */
.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.icns {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgicns {
    max-width: 70px;
    height: 70px;
    opacity: 1;
}

.img1 {
    width: 100%;
    max-height: 690px;
    object-fit: cover;
}

.txticns {
    font-family: noto;
    font-weight: 400;
    font-size: 20px;
}

.ligne1 {
    color: rgb(197, 196, 198);
    min-height: 50px;
}

@media (max-width: 767px) {
    .sessicn {
        display: none;
    }
}

/* section 1 */

body#page-atlantis .card-session1 {
    height: auto;
    border: 2px solid #f1f1f1bf;
}




.ligne-separtion {
    border: 1px solid #B5D0FF;
    position: relative;
    margin: 40px auto;
    width: 221px;
}

@media (max-width: 912px) {
    .ligne-separtion {
        border: 1px solid #B5D0FF;
        position: relative;
        margin: 20px auto;
        width: 220px;
    }

}

/* section 2 */
body#page-atlantis .card-session2 {
    border: 2px solid #f1f1f1bf;
}

body#page-atlantis .card-session2 .row {
    height: 570px;
}

@media (max-width: 767px) {
    body#page-atlantis .card-session2 .row {
        height: auto;
    }
}

body#page-atlantis .sect2-prt1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

body#page-atlantis .sect2-prt1 img {
    object-fit: cover;
}

@media (max-width: 912px) {
    body#page-atlantis .sect2-prt1 {
        padding: 0;
        border-radius: 20px 20px 0 0;
    }

    body#page-atlantis .sect2-prt1 img {
        height: 290px !important;
        object-fit: cover;
        border-radius: 20px;
    }
}

.separator {
    border-left: 1px solid #383737;
    height: 60px;
    margin: 0 10px;
}

body#page-atlantis .sect2-prt2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 35px;
}


body#page-atlantis .sub-title {
    font-size: 1.2rem !important;
    font-weight: 700;
    margin: 0px 0 0px 0;
    text-align: center;
    font-weight: 700;
}

/* section 3 */
body#page-atlantis .card-session3 {
    border: 2px solid transparent;
    padding: 20px;
}

body#page-atlantis .card-session3 .card-body {
    border: 2px solid #77A7FB;
    padding: 0;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

body#page-atlantis .card-session3 .card-body .imgface {
    height: 174px;
    object-fit: contain;
}


@media (max-width: 912px) {
    body#page-atlantis .card-session3 .card-body {
        height: auto;
        margin: 0;
        padding: 0;
    }

}

@media (max-width: 912px) {}


body#page-atlantis .session3-slick-mobile,
body#page-atlantis .session5-slick-mobile,
body#page-atlantis .session6-slick-mobile {
    display: none;
}

@media (max-width: 912px) {
    body#page-atlantis .sccgrp {
        display: none !important;
    }

    body#page-atlantis .session3-slick-web,
    body#page-atlantis .session5-slick-web,
    body#page-atlantis .session6-slick-web {
        display: none;
    }

    body#page-atlantis .session3-slick-mobile,
    body#page-atlantis .session5-slick-mobile,
    body#page-atlantis .session6-slick-mobile {
        display: block;
    }

    body#page-atlantis .session5-slick-mobile,
    body#page-atlantis .session6-slick-mobile {
        padding: 6%;
        margin: 1%;
    }
}

#crcl1,
#crcl1sess5,#PAcrcl1sess6 {
    width: 20px;
    background-image: url("../images/ptbl.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 15px;
}

#crcl2,
#crcl3,
#crcl2sess5,
#crcl3sess5 ,#PAcrcl2sess6,#PAcrcl3sess6{
    width: 20px;
    background-image: url("../images/ftbl.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 15px;
}


.flch {
    position: relative !important;
    opacity: 1 !important;
    width: 30px;
}

.carousel-control-prev-icon-gauche {
    background-image: url("../images/lftbl.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    opacity: 1 !important;
}

.carousel-control-prev-icon-droite {
    background-image: url("../images/rgtbl.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    opacity: 1 !important;
}

/* section 4 */
body#page-atlantis .card-session4 {
    border: 1px solid #C8C8C8;
    height: auto;
}

.btnactv {
    border-radius: 20px;
    border: 2px solid #347EFF;
    color: #347EFF;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    box-shadow: none !important;
    outline: none !important;
    background-color: transparent;
    height: 61px;
}

.btnactv:hover {
    color: #347EFF !important;
    border: 2px solid #347EFF !important;
}

.btninactv {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    color: #C4C2D4;
    border: transparent;
    box-shadow: none !important;
    outline: none !important;
    background-color: transparent;
    height: 61px;
}

@media (max-width: 767px) {
    body#page-atlantis .card-session4 {
        border: 1px solid #C8C8C8;
    }
}

body#page-atlantis .card-session4-spns .card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.spnactv {
    font-size: 1.2rem;
    color: #347EFF;
}

.spninactv {
    font-size: 1.1rem;
    color: #B3B3B3;
}

.card-session4-cnt {
    border: 2px solid #347EFF;
}

.imgsess4 {
    position: relative;
    z-index: 1;
    object-fit: cover;
}

@media (max-width: 767px) {
    .imgsess4 {
        height: 290px;
    }

    .psess4 {
        line-height: normal !important;
    }
}

.psess4 {
    line-height: 40px;
}

.card-session4-cnt-imgs {
    position: relative;
}

.dirct {
    position: absolute;
    bottom: 5%;
    width: 100%;
    z-index: 1;
    text-align: center;
    display: none;
}


.dirct img {
    margin-right: 10px;
}

/* session 5 */

.sess5crd,
.sess6crd {
    height: 370px;
    padding: 0;
    border: 2px solid #77A7FB;
    width: 24%;
}


@media (max-width: 767px) {
    .sess5crd,
    .sess6crd {
        width:100%;
    }
}

.mask-image {
    -webkit-mask-image: url("../assets/img/masque.svg");
    mask-image: url("../assets/img/masque.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}

#sess5crd1img,
#sess5crd2img,
#sess5crd3img,
#sess5crd4img,
#sess5crd5img,
#sess5crd6img,
.sess6crdimg {
    height: 285px;
    object-fit: cover;
}

.sess5crd img,
.sess6crd img {
    width: 100%;
}

.sess5-crds,
.sess6-crds {
    gap: 56px;
}

.cercle-img {
    position: absolute;
    left: 14%;
    top: 55%;
    width: 70px !important;
}


@media (max-width: 767px) {
    .cercle-img {
        left: 14%;
        top: 50%;
    }
}

.text-img {
    position: absolute;
    left: 20%;
    top: 62%;
    font-weight: 700;
    color: #ffffff;
}

@media (max-width: 767px) {
    .text-img {
        left: 20%;
        top: 56%;
    }
}

.posit {
    position: absolute;
    left: 53%;
    top: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.posit img {
    width: 20px;
}

.posit p {
    width: 90px;
    margin-bottom: 0px;
}

@media (max-width: 767px) {
    .posit {
        left: 55%;
        top: 58%;
    }
}

.note {
    position: absolute;
    left: 27%;
    top: 81%;
    width: 38px !important;
    display: flex;
    flex-direction: row;
}

.note img {
    padding-right: 10%;
    width: 77%;
}

@media (max-width: 767px) {
    .note {
        left: 26%;
    top: 80%;
    width: 38px !important;
    }

    .note img {
        padding-right: 15%;
    }
}

.sess5h2,
.sess6h2 {
    position: absolute;
    width: 100%;
    top: 90%;
    color: #000;
    font-size: 29px !important;
}


/* section 6 */

.scrllsess6{
    display: block;
}
@media (max-width: 767px) {
    .scrllsess6{
        display: none;
    }
}
/* **** */
section {
    padding: 0;
}
