#blog-page section {
    padding: 50px 0;
}

@media all and (max-width: 767px) {
    #blog-page .sub-title {
        font-size: 1rem !important;

    }

    #blog-page p {
        font-size: 0.8rem;
    }
}

/* section 1 */
#blog-page #section1 img {
    height: 602.15px;
    box-shadow: inset 0 0 0 1000px rgba(52, 126, 255, 0.6);
    border-radius: 20px;
}

@media all and (max-width: 767px) {
    #blog-page #section1 img {
        height: 240px;
    }
}

/* section 2 */
#blog-page .sec2-col {
    background-color: #F2F7FF;
}

#blog-page #section2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    background-color: #F2F7FF;
}

@media all and (max-width: 767px) {
    #blog-page #section2 {
        flex-direction: column;
        padding-bottom: 3px;
    }
}

#blog-page #section2 .btnsect2 img {
    width: 32px;
    margin-right: 10px;
}

#blog-page #section2 .btnsect2{
    background-color: #FFF;
}

#blog-page #section2 .btnsect2:hover{
    color: #347EFF;
}

@media all and (max-width: 767px) {
    #blog-page #section2 .btnsect2 img {
        width: 25px;
        margin-right: 5px;
    }

    #blog-page #section2 .btnsect2{
        margin-bottom: 15%;
    }
}

/* section 3 */
#blog-page #section3 .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 22px;
    align-items: center;
}


#blog-page #section3 .items button{
   border-radius: 20px;
}

#blog-page #section3 .item-actv {
    color: #FFF;
    background-color: #347EFF;
    border: 1px solid #347EFF;
    font-weight: 700;
    font-size: 1.2rem;
}

#blog-page #section3 .item-inactv {
    background-color: #FFF;
    color: #347EFF;
    border: 1px solid #347EFF;
    font-weight: 500;
    font-size: 1.1rem;
}

@media all and (max-width: 767px) {
    #blog-page #section3 .item-inactv{
        width: 100px !important;
        font-size: 0.9rem;
     }

     #blog-page #section3 .item-actv{
        width: 100px !important;
        font-size: 1rem;
    }
}