#blog-page section {
    padding: 50px 0;
}

@media all and (max-width: 767px) {
    #blog-page .sub-title {
        font-size: 1rem !important;

    }

    #blog-page p {
        font-size: 0.8rem;
    }
}

.sub-title {
    font-size: 1.3rem !important;
    font-weight: 700;
    margin: 5px 0 20px 0;
    font-weight: 700;
}

/* section 1 */
#blog-page #section1 img {
    height: 602.15px;
    box-shadow: inset 0 0 0 1000px rgba(52, 126, 255, 0.6);
    border-radius: 20px;
}

@media all and (max-width: 767px) {
    #blog-page #section1 img {
        height: 240px;
    }
}

/* section 2 */
#blog-page .sec2-col {
    background-color: #F2F7FF;
}

#blog-page #section2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    background-color: #F2F7FF;
}

@media all and (max-width: 767px) {
    #blog-page #section2 {
        flex-direction: column;
        padding-bottom: 3px;
    }
}

.title-new {
    font-size: 80%;
    color: blue;
}

#blog-page #section2 .btnsect2 img {
    width: 32px;
    margin-right: 10px;
}

#blog-page #section2 .btnsect2 {
    background-color: #FFF;
}

#blog-page #section2 .btnsect2:hover {
    color: #347EFF;
}

@media all and (max-width: 767px) {
    #blog-page #section2 .btnsect2 img {
        width: 25px;
        margin-right: 5px;
    }

    #blog-page #section2 .btnsect2 {
        margin-bottom: 15%;
    }
}

/* section 3 */
#blog-page #section3 .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 22px;
    align-items: center;
}


#blog-page #section3 .items button {
    border-radius: 20px;
    padding: 6px;
    padding-right: 50px;
    padding-left: 50px;
}

#blog-page #section3 .item-actv {
    color: #FFF;
    background-color: #347EFF;
    border: 1px solid #347EFF;
    font-weight: 700;
    font-size: 1.2rem;
}

#blog-page #section3 .item-inactv {
    background-color: #FFF;
    color: #347EFF;
    border: 1px solid #347EFF;
    font-weight: 500;
    font-size:1.2rem;
}

@media all and (max-width: 767px) {
    #blog-page #section3 .item-inactv {
        width: 100px !important;
        font-size: 0.6rem;
    }

    #blog-page #section3 .item-actv {
        width: 100px !important;
        font-size: 0.8rem;
    }

    #blog-page #section3 .items button {
        padding-right: 0;
        padding-left: 0;
    }
    #blog-page #section4 .wrap-video #video-overlay {
        position: absolute;
        top: 11%;
        left: 21%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
    }
}

/* section 4 */
#blog-page #section4 #crd1 {
    background-image: url("../images/Creator-Talking-Tunisia.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 475px;
    background-size: cover;
}


#blog-page #section4 .wrap-video .video-js {
    height: 320px;
    object-fit: inherit;
    width: 100%;
    border-radius: 20px;
    margin-top: 1%;
}

#blog-page #section4 .wrap-video .video-container {
    position: relative;
}

#blog-page #section4 .wrap-video #video-overlay {
    position: absolute;
    top: 28%;
    left: 21%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.wrap-video {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.wrap-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#blog-page #section4 .wrap-video .sub-title {
    display: block;
    color: #FFF;
    padding-top: 85%;
}

#blog-page #section4 .wrap-video button {
    display: block;
    background-color: #FFF;
    height: 51px;
    border: 1px solid #347EFF;
    border-radius: 20px;
    color: #347EFF;
    font-size: 1rem;
    margin-top: 22%;
}

#blog-page #section4 #crd2 {
    background-image: url("../images/Creator-Talking-Tunisia 2.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 320px;
    background-size: cover;
}


#blog-page #section4 #crd2 .sub-title {
    color: #347EFF;
    padding-top: 15%;
    margin-right: 34%;
    padding-left: 9%
}

#blog-page #section4 #crd2 button {
    color: #FFF;
    height: 51px;
    border: 1px solid #FFF;
    border-radius: 20px;
    margin-left: 10%;
    font-size: 1rem;
    margin-top: 2%;
    background-color: #347EFF;
}

@media all and (max-width: 767px) {

    #blog-page #section4 .wrap-video .video-js,
    #blog-page #section4 #crd2 {
        height: 182px;
    }

    #blog-page #section4 #crd2 {
        margin-top: 3%;
    }

    #blog-page #section4 .wrap-video button,
    #blog-page #section4 #crd2 button {
        height: 35px;
        font-size: 0.8rem;
    }

    #blog-page #section4 #crd2 button {
        margin-top: 9%;
    }

    #blog-page #section4 .wrap-video button img,
    #blog-page #section4 #crd2 button img {
        width: 15px;
    }

    #blog-page #section4 #crd2 .sub-title {
        padding-top: 15%;
        margin-bottom: 0;
    }
    #blog-page #section4 .wrap-video #video-overlay{
        left: 27%;
        top: 10%;
    }
}

/* section 5 */
#blog-page #section5 .crdsess5 {
    background-color: #F1F4F8;
    border-radius: 20px;
}

#blog-page #section5 .crdsess5 .crdsess5-img {
    height: 317.94px;
    border-radius: 20px;
    border: 1px solid #347EFF;
    width: 100%;
    object-fit: cover;
}

#blog-page #section5 .crdsess5 .crdsess5-prt2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#blog-page #section5 .crdsess5 button {
    color: #FFF !important;
    height: 51px;
    border: 1px solid #B5D0FF;
    border-radius: 20px;
    color: #347EFF;
    font-size: 1rem;
    background-color: #347EFF;
    width: 33%;
}

@media all and (max-width: 767px) {
    #blog-page #section5 .crdsess5 .crdsess5-img {
        height: 200px;
        border-radius: 20px 20px 0 0;
    }

    #blog-page #section5 .crdsess5 .crdsess5-prt1 {
        padding-left: 0;
        padding-right: 0;
    }

    #blog-page #section5 .crdsess5 .crdsess5-prt2 div {
        text-align: center;
    }

    #blog-page #section5 .crdsess5 button {
        height: 31px;
        font-size: 0.8rem;
        width: 35%;
        margin-bottom: 5%;
    }

    #blog-page #section5 .crdsess5 button img {
        width: 16%;
    }

    #blog-page #section4 .wrap-video {
        width: auto;
        padding-bottom: 10%;
    }
    .slick-dots li button:before {
        margin-top: -230%;
        font-size: 20px;
        margin-left: -70%;
    }
}


blog-page #section5 #crcl1sess6 {
    width: 20px;
    background-image: url("../images/ptbl.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 15px;
}

blog-page #section5 #crcl2sess6,
blog-page #section5 #crcl3sess6,
blog-page #section5 #crcl4sess6,
blog-page #section5 #crcl5sess6,
blog-page #section5 #crcl6sess6,
blog-page #section5 #crcl7sess6 {
    width: 20px;
    background-image: url("../images/ftbl.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 15px;
}

@media all and (max-width: 767px) {
    blog-page #section5 #section6cont {
        height: 205.94px;
    }

    blog-page #section5 #crcl1sess6,
    blog-page #section5 #crcl2sess6,
    blog-page #section5 #crcl3sess6,
    blog-page #section5 #crcl4sess6,
    blog-page #section5 #crcl5sess6,
    blog-page #section5 #crcl6sess6,
    blog-page #section5 #crcl7sess6 {
        margin: 0px 3px;
    }
}
