html ,body{

    background: radial-gradient(circle, #37373c 1%, #000000 100%);
}
#linksstation .navbar #myTopnav {
    display: flex;
    align-items: center;
}


#linksstation .navbar #myTopnav img{
    height: 40px;
    width:auto;
}
#section-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section-image {
    width: 70%;
    height: auto;
    max-width: 100%;
}
