/*
 * This file is for all generic CSS classes
 */
#logtitre {
    opacity: 1;
    width: auto;
    height: auto;
}
#logimg {
    display: block;
    margin-right: 10px;
    width: 100%;
    height: 100%;
}
