@media all and (max-width: 767px) {
    .navbar-toggled .nav-item {
        margin-left: 20%;
        border-radius: 4%;
        text-align: center;
        background-color: white;
    }

    .nav-item {
        text-align: center;
        /* Centrer le texte */
        margin-left: 20%;
    }

    #tun-time {
        margin-left: 20%;
    }

    #tunis-time {
        margin-left: 2%;
    }

    #crcltuns {
        margin-left: 20%;
    }

    .btn-main {
        margin-left: 3%;
        padding: 40%;
    }


    .card2 {

        width: 100%;
    }

    .op {
        width: 100%;
    }

    .btn1-b,
    .btn1-b1,
    .btn1-b2,
    .btn1-b3,
    .btn1-b4,
    .btn2,
    .btn2-b,
    .btn3,
    .btn2-b,
    .btn4,
    .btn3-b,
    .btn4-b {
        display: none;
    }




    .btn.btn-outline-primary.button3 {
        width: 126px;
        height: 41px;
        background-color: #ffffff;
        transition: none;
        box-shadow: none;
        font-weight: 400;

        font-size: 10px;
        font-family: noto;

        color: #347EFF;
        border-radius: 36px;

        border-color: #347EFF !important;

    }

    .btn.btn-outline-primary.button4 {
        width: 163.49px;
        width: 180px;
        height: 52px;
        background-color: #ffffff;
        transition: none;
        box-shadow: none;
        font-weight: bold;
        color: #347EFF;
        border-radius: 77px;
        border: 1px solid #347EFF;
        background-color: transparent;
        transition: background-color 0.3s, color 0.3s;
        align-self: center;
        font-size: 24px;
        font-family: noto;
        font-weight: 400;
        border-color: #347EFF !important;

    }

    .textbas {

        width: 109%;
        font-family: noto;
        font-weight: 400;
        font-size: 10px;
        margin-top: 17%;

    }

    .lignes {
        width: 9%;
        border: none;
        height: 1px;
        background-color: #B3B3B3;
        margin: 55px auto;
    }


    .text1 {
        text-align: end;
        font-size: 20px;
        font-weight: bold;
        font-family: noto;
        color: #ffffff;
        margin-top: 56%;
    }

    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid,
    .navbar-expand-lg>.container-lg,
    .navbar-expand-lg>.container-md,
    .navbar-expand-lg>.container-sm,
    .navbar-expand-lg>.container-xl {
        padding-right: 7%;
        padding-left: 0;
    }

    .divundf {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .text-center {
        margin-left: 50%;
    }

    .btn.btn-outline-primary.btn1-main {
        width: 81px;
        margin-left: 49%;
        border-color: white !important;
        height: 18px;
        border-radius: 36px;
        background-color: #ffffff;
        color: #000000;
        font-family: noto;
        font-size: 12px;
        padding: 0;
        margin-top: 4%;
    }

    .carousel-indicators {
        margin-left: 80%;
        width: 18%;
        height: 7%;
        color: gray;
    }

    .carousel-item {
        margin-top: 10%;
    }

    .carousel-indicators .li {

        background-color: rgb(66, 66, 66);
        height: 74% !important;
        margin-top: 10%;
        margin-left: -1%;
    }

    .ttcard {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        justify-content: space-around;
        align-content: stretch;
        flex-direction: row-reverse;
    }


    .ttcard {
        margin-right: -88%;
        overflow-x: auto;
        /* Éviter les sauts de ligne */
        direction: rtl;
        /* Inverser la direction du texte pour le défilement vers la droite */
    }


    .image-2 {
        margin-right: -6%;
    }

    .image-4 {
        margin-right: -6%;
        margin-top: 2%;
    }

    .image-5 {

        margin-top: 2%;
    }

    .scrole {
        overflow-x: scroll;

    }

    .reverse {
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-content: flex-start;
        padding-left: 63px;
    }

    .image-1 {
        height: 275px;
        width: 275px;
        margin-left: 495%;
        border-radius: 15px;
        background-size: cover;
        background-repeat: no-repeat;
    }



    .image-2,
    .image-3,
    .image-4,
    .image-5 {
        width: 210px;
        height: 275px;
        border-radius: 15px;
    }

    .btn.btn-outline-primary.r-btn1 {
        border-color: white !important;
        width: 169px;
        height: 34px;
        transition: none;
        box-shadow: none;
        border-radius: 36px;
        color: #ffffff;
        font-family: noto;
        font-size: 12px;
        border: 2px solid #ffffff;
        margin-left: -6%;
    }

    .btn.btn-outline-primary.r-btn2,
    .btn.btn-outline-primary.r-btn3,
    .btn.btn-outline-primary.r-btn4,
    .btn.btn-outline-primary.r-btn5{
        border-color: white !important;
        width: 169px;
        height: 34px;
        transition: none;
        box-shadow: none;
        border-radius: 36px;
        color: #ffffff;
        font-family: noto;
        font-size: 12px;
        border: 2px solid #ffffff;
    }

    .txticns {
        display: none;
    }

    .border-top {
        width: 45.49px;
        height: 100px;
    }


    .text-3 p {
        margin-top: 0%;
        width: 330px;
        font-family: noto;
        font-weight: 400;
        color: rgb(250, 250, 250);
        margin-left: -5%;
        font-size: 10px;
        display: block;
        word-wrap: break-word;
        word-break: break-all;

    }

    .text-3 span {

        font-size: 24px;
        font-weight: bold;
        color: white;
    }

    .image1-2 {
        height: 34%;

        width: 100%;

    }


    .video-js {
        width: 100% !important;
        height: 100%;

    }

    .ligne1 {
        display: none;
    }

    .flex-container {
        display: flex;
        width: 18%;
        flex-direction: column;
        position: absolute;
        left: 0;
        background-color: #F1F1F1 !important;
        z-index: 1;
        height: 555px;
    }


    .btn.btn-outline-primary.btn1-main2 {
        width: 101px;

        border-color: white !important;
        height: 27px;
        border-radius: 35px;
        background-color: #ffffff;
        color: #347EFF;
        font-family: noto;
        font-size: 12px;
        padding: 0;
        margin-top: -16%;
    }

    .text2 h4 {
        font-weight: bold;
        font-size: 42px;
        color: #347EFF;
        display: inline-block;
        margin-left: 62px;
    }

    #btn1,
    #btn1-b,
    #btn2,
    #btn2-b,
    #btn3,
    #btn3-b,
    #btn4,
    #btn4-b {
        display: none;
        /* Masquer les éléments avec les ID spécifiés pour les écrans étroits */
    }

    .text2 p {
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        margin-top: 20px;
        font-weight: bold;
        font-family: 'inter', sans-serif;
    }

    .img-bas {
        width: 100%;
    }

    .btn1-b,
    .btn1-b1,
    .btn1-b2,
    .btn1-b3,
    .btn1-b4,
    .btn2,
    .btn2-b,
    .btn3,
    .btn2-b,
    .btn4,
    .btn3-b,
    .btn4-b {
        display: none;
    }

    .scroll-container {
        overflow-x: auto;
    }

    .scroll-container>div {
        display: inline-block;
        margin-right: 10px;
    }

    .text4 {


        text-align: center;
        font-weight: bold;
        font-size: 27px;
        font-family: 'inter', sans-serif;

    }



    .card5 {
        width: 98%;
        height: 124px;
        border-radius: 20px;
        border: 1px solid #B3B3B3;

    }

    .img-h {
        width: 91.88px;
        height: 91.88px;
    }

    #imgwj1 {
        margin-right: 75%;
        width: 76.88px !important;
        height: 79.88px !important;
        margin-top: 8%;
    }

    .footer-column {
        display: none;
        background-color: white;
    }

    .foot {
        background-color: transparent;

    }

    .title {
        font-weight: 700;
        margin-top: -40%;
        font-size: 22px;
        font-weight: bold;
        margin-left: 12%;

    }

    .textecard {
        margin-top: -6px;
        font-size: 12px;
        margin-left: 12%;
    }

    .card4 {
        width: 99%;
        height: 147px;
        border-radius: 20px;
        border: 1px solid #B3B3B3;
        margin-left: 0% !important;
    }

    .textecard2 {
        margin-top: -6px;
        font-size: 12px;
        margin-left: 12%;
        font-weight: 700;
    }

    .textecard3 {
        margin-top: -6px;
        font-size: 12px;
        margin-left: 12%;
        font-weight: 700;
    }

    .card3 {
        width: 98%;
        height: 124px;
        border-radius: 20px;
        border: 1px solid #B3B3B3;
        margin-left: 1% !important;
    }



    .title3 {
        margin-top: -41%;
        font-size: 22px;
        font-weight: bold;
        margin-left: 12%;


    }

    .title2 {
        margin-top: -40%;
        font-size: 22px;
        font-weight: bold;
        margin-left: 12%;

    }

    .cradd {
        width: 107%;
        height: auto;
        /* Ajustez la hauteur automatiquement en fonction du contenu */
    }


}



@media (max-width: 576px) {

    .txt1,
    .txt2 {
        font-size: 18px;
        padding: 3px;
    }

    .txt1 {
        height: 40px;
        border-radius: 20px;
    }

    .txt2 {
        height: 250px;
        border-radius: 25px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .txt1,
    .txt2 {
        width: 100%;
        font-size: 24px;
        padding: 8px;
    }

    .txt1 {
        height: 60px;
        border-radius: 30px;
    }

    .bb {
        margin-left: 2%;
    }

    .txt2 {
        width: 100%;
        height: 350px;
        border-radius: 12px;
    }
}

@media (max-width: 768px) {
    .container.vds {
        display: flex;
        flex-direction: column;
    }

    h4 {
        order: 1;
        /* Place le titre en haut sur les téléphones */
    }


}

@media (max-width: 768px) {

    .txt1,
    .txt2 {
        width: 100%;
        /* font-size: 20px; */

    }

    .txt1 {

        height: 50px;
        border-radius: 25px;
    }

    .txt2 {
        height: 300px;
        border-radius: 10px;
    }

}


@media (max-width: 769px) {
    .card2 {
        overflow: hidden;
        width: 356px;
    }

    .cardul {
        display: flex !important;
        flex-wrap: nowrap !important;
        justify-content: center !important;
        list-style-type: none;
        padding: 0;
        max-width: 100%;
        overflow: hidden;
    }

    .cardul li {
        flex: 0 0 auto;
        max-width: 30%;
        margin-left: -31px;
    }

    .tit1actv {
        font-size: 15px !important;
        color: #347EFF !important;
        text-align: center !important;
        font-family: noto !important;
    }

    .tit2actv {
        font-size: 11px !important;
        color: black !important;
        text-align: center !important;
        font-family: noto !important;
    }

    .txtactv {
        margin-top: -1% !important;
        display: block !important;
        text-align: start !important;
        font-size: 9px !important;
        font-family: noto !important;
    }

    .tit1inactv {
        font-size: 12px !important;
        color: #B3B3B3 !important;
        text-align: center !important;
        font-family: noto !important;
        font-weight: bold !important;
    }

    .imgactv{
        display: block;
        width: 78%;
        margin: 13px 43px !important;
        object-fit: cover;
        border-radius: 20px;
    }

    .tit2inactv {
        font-size: 10px !important;
        color: #D9D9D9 !important;
        text-align: center !important;
        font-family: noto !important;
    }

    .txtinactv {
        display: none !important;
    }

}
