@media all and (max-width: 767px) {
    body {
        width: 100% !important;
        overflow-x: hidden !important;
    }

    main {
     margin-top: 0;
    }

    #section-1 .links_box{
        height: 400px;
    }

    section .slick-slide{
        display: block;
    }

    section .block-cards{
        display: none;
    }

    body .main-title {
        margin-bottom: 35px;
        font-size: 1.5rem;
    }

    body section {
        padding: 50px 0;
    }

    body #section-3 {
        padding: 50px 0;
        display: flex;
        flex-direction: column-reverse;
    }

    body #section-9 {
        padding: 50px 0;
        display: flex;
        flex-direction: column-reverse;
    }

    #section-5 .parghraphe{
        font-size: 1rem;
    }
    .parghraphe1{
        font-size: 1rem;
    }

    .navbar {
        height: 59px;
        padding: 0 !important;
    }

    .navbar-expand-lg .container,
    .navbar-expand-lg .container-fluid,
    .navbar-expand-lg .container-lg,
    .navbar-expand-lg .container-md,
    .navbar-expand-lg .container-sm,
    .navbar-expand-lg .container-xl {
        padding-right: 5%;
        padding-left: 5%;
    }

    .icon {
        display: none;
    }

    .texte1 {
        display: none;
    }

    .texte2 {
        font-size: 89%;
        height: 155%;
        display: flex;
        flex-direction: row;
        width: 146%;
        font-weight: 900;
    }


    .texte2 .col-lg-7,
    .texte2 .col-lg-5 {
        flex: 1;
        width: auto;
    }

    .col-lg-5 span {
        font-family: 'noto';
        width: 50% !important;
        font-size: 74%;
        text-align: center;
    }

    .scroll-container {
        overflow-x: scroll;
    }

    .img1 {
        object-fit: cover;
        margin-top: 1%;
        width: 496px;
        height: 312px;
        border-radius: 20px;

    }

    .titr3 {
        margin: 0 auto;
        font-family: 'noto';
        font-size: 20px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0em;
        text-align: center;
        color: #FD4343;
        transition: all .5s;

    }

    .titr5 {
        margin-top: 5%;
        font-family: 'noto';
        font-size: 35px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0em;
        text-align: center;
    }

    .prt7hov {
        min-width: 270px;
        margin-right: .5rem !important;
        margin-left: .5rem !important;
    }

    .card:hover .titr3 {
        font-family: 'noto';
        font-size: 25px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: center;
    }

    .img3 {
        height: 163px;
        object-fit: contain;
    }

    .pg3 {
        font-family: 'noto';
        font-size: 12px;
        font-weight: 400;
        /* line-height: 41px; */
        letter-spacing: 0em;
        text-align: start;
    }

    .footer-column {
        display: none;
        background-color: white;
    }

    .img2 {
        margin-top: 40px;
        display: block;
        width: 100%;
    }

    .titr2 {
        position: absolute;
        top: 26%;
        left: 64%;
        transform: translate(-50%, -50%);
    }

    .col-lg-8 .titr1 {
        display: block;
        margin-top: 0;
    }

    #logimg {
        margin-left: 22%;
        margin-top: 11%;
        display: block;
        margin-right: 14px;
        width: 39.75px;
        height: 36.69px;
    }

    #myTopnav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    #toggleButton {
        margin-top: 2%;
        position: fixed;
        top: 0;
        margin-right: 4%;
        right: 0;
        z-index: 999;
    }
    .navbar-nav {
        margin: 17%;
        height: 33px !important;
    }
    .navbar-toggled .nav-item {
        margin-left: -4%;
        text-align: center;
        background-color: white;
        width: 125%;
        padding-left: 23%;
        padding-top: 5px;
        padding-bottom: 12px;
    }

    .prt3p {
        margin: 0 auto;
        font-weight: 500;
        font-family: 'noto';
        font-size: 16px;
        text-align: center;
        margin-top: 0%;
    }


    .titr1 {
        font-family: 'noto';
        font-size: 40px;
        font-weight: 900;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: center;
        color: #FD4343;
    }

    .titre-2, .titre-1{
        font-size: 1.25rem;
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
        color: #FD4343;
        transition: all .5s;
    }

    .ttcard {
        /* display: flex; */
        overflow-x: scroll;
        width: 100%;
        margin-top: 10px;
        margin-top: 12%;
        width: 103%;
    }



    .card {
        height: 200px;
    }

    .lignesfrk {
        display: none;
    }



    .titr4 {
        margin-top: 90%;
        font-family: 'noto';
        font-size: 35px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0em;
        text-align: center;
    }

    .btninactv,
    .btnactv,
    .btninactv,
    .btninactv {

        padding: 0;
        width: 100%;
        font-size: 72%;
        color: #FD4343 !important;
        margin: 0 auto;
        height: 100%;
    }

    .ktbchng p {
        font-size: 1.25rem;
        font-weight: 700;
        text-align: center;
    }

    body #section-10 .slick-block-section-10{
        display: none !important;
    }
    body #section-10 .slick-section-10{
        display: block;
    }
    #section-8 .parghraphe {
        font-size: 1rem;
        width: 100%;
    }


    .ktbchng span {
        font-size: 1rem;
        font-weight: 600;
        font-weight: 500;
        text-align: center;

    }

    .crd6 {

        margin-top: 10%;
    }

    .crd66 {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
    }

    .col-lg-6 {
        flex: 0 0 auto;
    }

    .col-lg-6.d-flex {
        flex: 0 0 auto;
    }

    .img4 {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .col-lg-6.d-flex {
        margin-top: 15px;
    }

    #pprt6 {
        font-family: 'noto';
        font-size: 16px;
        font-weight: 500;

    }

    #txtindx {
        font-family: noto;
        font-size: 22px;
        font-weight: 900;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
        color: #C4C2D4;
    }

    .images-container {

        justify-content: flex-start;
    }

    .card21 {
        overflow-x: auto;
    }

    #pprt8 {
        display: none;
    }

    .crd81 {
        width: 100%;
        height: auto;
        transform-origin: 60% 50%;
        display: block;
        overflow: hidden;
        border-radius: 20px;
    }

    .p1prt7 {
        font-family: 'noto';
        font-size: 16px;
        font-weight: 400;

    }

    .card2 {
        overflow-x: scroll;


    }

    .p1prt8 {
        margin-right: 10px;
        margin-left: 10px;
    }



    .crdd {
        overflow-x: scroll;

    }

    .prt8hov {
        min-width: 270px;
        margin-right: .5rem !important;
        margin-left: .5rem !important;
    }


    .scroll-container {
        overflow-x: auto;
        white-space: nowrap;
    }

    .titr {
        font-size: 32px;
        font-weight: bold;
        color: #FD4343;
        color: #8C8C8C;
        font-size: 12px;
        width: 164px;

    }

    .pprt4 {
        display: none;
    }
}
