#partners section {
    padding: 50px 0;
}

@media all and (max-width: 767px) {
    #partners .sub-title {
        font-size: 1rem !important;

    }

    #partners p {
        font-size: 0.8rem;
    }
}

.sub-title {
    font-size: 1.3rem !important;
    font-weight: 700;
    margin: 5px 0 20px 0;
    font-weight: 700;
}


#partners #partners-cont .img {
    border: 1px solid #347EFF;
    border-radius: 20px;
    display: flex !important;
    justify-content: center;
    height: 135px;
    max-width: 72%;

}
#p1,#p2,#p3,#p4,#p5,#p6,#p7{
    margin-top: 1%;
}
#p5{
    margin-top: 0%;
}
.part-1{
    margin-top: 60px;
}
#partners #partners-cont .paragraphe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#partners #partners-cont .imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#partners #partners-cont #img1 {
    height: 162.61px;
}

#partners #partners-cont .img2 {
    height: 152px;
}

#partners #partners-cont #partnerspartweb {
    display: block;
    padding-left: 11%;
}
#partners #partners-cont #partnerspartmob {
    display: none;
}

@media all and (max-width: 767px) {

    #partners #partners-cont #partnerspartweb {
        display: none;
    }
    #partners #partners-cont #partnerspartmob {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #partners #partners-cont #img1{
        height: 66px;
    }
     #partners #partners-cont .img{
        height: 97px;
        width: 184px;
        margin-bottom: 3%;
    }
}
