@font-face {
    font-family: noto;
    src: url(../font/NotoSansKR-Regular.ttf);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    background-color: #F1F1F1 !important;
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
}

.img-max-height {
    max-height: 690px;
    object-fit: cover;
    width: 100%;
}



.nav-item {
    color: #000;
    font-size: 17;
    font-family: noto;
    margin-right: 50px;
}
.navbar-nav li.nav-item a.nav-link {
    color: #000;
    text-decoration: none;
}

.navbar-nav li.nav-item a.nav-link:hover {
    color: #FD4343;
}

.btn.btn-outline-primary:hover {
    background-color: #ffffff;
    color: #FD4343;
}


.lignes {
    width: 9%;
    border: none;
    height: 1px;
    background-color: #B3B3B3;
    margin: 52px;
}
.ttcard{
    display: flex;
    justify-content: space-between;
}
.vertical-alignes {
    border-left: 1px solid #8C8C8C;
    height: 100px;
    margin: 0 20px;
}

.lignesfrk {
    width: 10%;
    border: none;
    height: 1.5px;
    background-color: #ccc;
    margin: 5vh auto;
}

/* nav bar  */
.input-nav {
    width: 84.6px;
    height: 33.64px;
    border-radius: 8px;
    border: 1px solid #FD4343;
    font-family: 'noto';
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #FD4343;
    background-color: transparent;
}



@media screen and (max-width: 768px) {
    .dnm {
        display: none !important;
    }

    .dbm {
        display: block !important;
    }

    .footer {
        background-color: #f1f1f1 !important;
    }
}


/* part1 */
.titr {
    font-size: 32px;
    font-weight: bold;
    color: #FD4343;
    text-align: end;
    color: #8C8C8C;
    font-size: 14px;
    width: 159px;
}

.img1 {
    width: 736px;
    height: 502.98px;
    border-radius: 20px;
}

.txt1 {
    font-family: 'noto';
    font-size: 20px;
    font-weight: 400;
    height: 29px;
    letter-spacing: 0em;
    text-align: left;
    transition: all .5s;
}

.txt1:hover{
    color: #FD4343;
    padding-left: 20px;
}
/* part 2 */
.titr1 {
    font-family: 'noto';
    font-size: 40px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #FD4343;
}

.img2 {
    margin-top: 115px;
    display: block;
    width: 100%;
    border-radius: 20px;
}

.crd2 {
    position: relative;
    display: inline-block;
}

.titr2 {
    position: absolute;
    top: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.card {
    width: 368px;
    height: 366px;
    border-radius: 20px;
    transition: all .5s;
}

.card:hover{
    border: 2px solid #FD4343;
}

.card:hover .titr3 {
    font-family: 'noto';
font-size: 48px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0em;
text-align: center;
   }

.titr3 {
    font-family: 'noto';
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    color: #FD4343;
    transition: all .5s;
}

.pg3 {
    font-family: 'noto';
    font-size: 28px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: start;
}

/* part 3 */
.scc3{
    height: 594px;
}

.sccgrp{
    color: #FD4343;
}

.flch{
    position: relative!important;
    opacity: 1 !important
}

#crcl1{
    width: 20px;
    background-image: url("../images/point.svg") ;
    background-repeat: no-repeat;
    background-position: center;
}

#crcl2{
    width: 20px;
    background-image: url("../images/cercle.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#crcl3{
    width: 20px;
    background-image: url("../images/cercle.svg") ;
    background-repeat: no-repeat;
    background-position: center;
}
.titr4 {
    font-family: 'noto';
    font-size: 36px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;

}
.titr5{
    font-family: 'noto';
    font-size: 36px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;

}

.prt3p {
    font-family: 'noto';
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

.img3 {
    height: 290px;
    object-fit: contain;
}

.carousel-control-prev-icon-gauche {
    background-image: url("../images/gauche.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    opacity: 1 !important;
}

.carousel-control-prev-icon-droite {
    background-image: url("../images/droit.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    opacity: 1 !important;
}





/* part4 */
.pprt4 {

    font-family: 'noto';
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
}

/* part 5 */

.btnactv {
    width: 203px;
    height: 52px;
    border-radius: 29.5px;
    border: 2px solid #FD4343;
    color: #FD4343;
    font-family: 'noto';
    font-size: 28px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    box-shadow: none !important;
    outline: none !important;
    width: 203px;
}
.btnactv:hover {
    color: #FD4343 !important;
}
.btninactv {
    font-family: 'noto';
    font-size: 28px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    color: #C4C2D4;
    border: transparent;
    box-shadow: none !important;
    outline: none !important;
    width: 203px;
}



.ktbchng p {
    font-family: 'noto';
    font-size: 28px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
}

.ktbchng span {
    font-family: 'noto';
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0;
    text-align: center;
}

/* part 6 */
.inx{
    width: 30%
}


.titrsghyr {
    font-family: 'noto';
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.pgsghyra {
    font-family: 'noto';
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.img4 {
    width: 724px;
    height: 623px;
    border-radius: 20px;
}

#h4prt6 {
    font-family: 'noto';
    font-size: 40px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #FD4343;
}

#pprt6 {
    font-family: 'noto';
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: start;
}

#txtindx {
    font-family: noto;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: #C4C2D4;
}

#imgindx{
    width: 26px;
}

#flchindx {
    width: 25.28px;
    height: 17.92px;
    top: 14.16px;
    left: 0.6px;
    color: #FD4343;
}


.img5 {
    width: 412px;
    height: 279px;
    border-radius: 20px;
}

.p1prt7 {
    font-family: 'noto';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.p2prt7 {
    font-family: 'noto';
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #FD4343;
}

.btncrd {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 167px;
    height: 66px;
    top: 14px;
    left: 14px;
    border-radius: 33px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-family: 'noto';
    font-size: 30px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;

}

.prt7hov{
    max-width: 31%;
}

.prt7hov:hover .img5{
    border: 2px solid #FD4343;
}

.prt7hov:hover .btncrd{
    color: #FD4343;
}

.images-container{

    justify-content: space-around;
}
/* part 8 */
#pprt8 {
    width: 765px;
    height: 125px;
    font-family: 'noto';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #8C8C8C;
}

.img6 {
    width: 413.17px;
    height: 456.04px;
    object-fit: cover;
    border-radius: 20px;
}

.p1prt8  {
    font-family: 'noto';
    font-size: 23px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}


.prt8hov:hover .btncrd{
    color: #FD4343;
.icon-search{
    color: #FD4343;
}
}
.input-search {
    width: 47px;
    height: 33px;
    transition: all .5s !important;
    box-shadow: none !important;
    position: relative;
    border-radius: 8px;
    border: 1px solid #FD4343;
}

.input-search:focus {
    width: 147px;
    border: 1px solid #FD4343 !important;
    outline: none !important;
}


.prt8hov{
    max-width: 350px;
}

.indxprt8{
    z-index: -1;
}

.crd81 {
    width:100%;
    height:auto;
    transform-origin: 60% 50%;
    display: block;
    overflow: hidden;
    border-radius: 20px;
}
.prt8hov:hover img{
    transform: scale(1.3) rotate(12deg);
    transition: transform 1s, .5s ease-in-out;
}
/* footer */
.foot {
    display: flex;
}
footer {
    padding: 40px;
    background-color: #ffffff;
    color: #2247dd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

footer li {
    align-items: right;
    display: inline;
}

a,
footer a {
    text-decoration: none;
    color: #000000;
}

h3,
footer h3 {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;

}

.footer-images {

    display: flex;
    justify-content: space-between;
    height: 230px;
    flex-direction: column;
}

.footer-images2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-images2 img {
    width: 95%;
    height: 95%;
}

.footer-column {
    border-right: 1px solid #B3B3B3;
    margin-right: 50px;
    padding-right: 50px;
}

#h3ft{
    font-size: 16px;
    text-align: end;
}

#ulft{
    font-size: 16px;
}

#h3ft2{
    font-size: 32px;
    color: #347EFF
}

#ulft2{
    text-align: end;
}

.divft{
    display: flex;
    justify-content: space-between;
}

.imgft{
    width: 93px;
     height: 62px;
}

.lnpgft{
    margin: 0;
}

.img12{
    display: flex;
}

.imgst1ft{
    height: 24px;
}

.imgst2ft{
    height: 18px;
     max-width: 17px;
     margin-right: 4%;
}
.imgst3ft{
    height: 18px;
    max-width: 26px;
}

.lignesft {
    margin: 52px;
}

.cnt{
    margin-top: 100px !important;
}
/* icons */
.flex-container{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}


.icns{
    display: flex;
     align-items: center;
     flex-direction: column;
}

.imgicns{
    max-width: 60px;
    height: 60px;
    opacity: 1;
    object-fit: contain;
}


.txticns{
    font-family: noto;
    font-weight: 400;
    font-size: 20px;
}

.ligne1 {
    color: rgb(197, 196, 198);
    min-height: 50px;
}

/* navbar */
.navbar{
    height: 95px;
    padding: 0 !important;
}

.navbar-nav{
    height:33px !important;
}

.drptin{
    width: 24px;
    object-fit: cover;
}

#myTopnav{
    display: flex;
    align-items: center;
}

.collapse.navbar-collapse.justify-content-center .navbar-nav li {
    margin-right: 20px;


}

#myTopnav{
    display: flex;
    align-items: center;
}
#logimg {
    display: block;
    margin-right: 10px;
    width: 39.75px;
    height: 36.69px;
}
#logtitre{
    opacity: 0;
    transition: all .5s;
    width: 68px;
    height: 22px;
}


#myTopnav:hover #logtitre{
    opacity: 1;
    width: 108px;
}

#tunis-time{
    font-size: 14px;
    font-weight: 400;
}

#crcltuns{
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.txtnav{
    font-size: 17px;
    font-family: noto;
    font-weight: 400;;
}

.btn.btn-outline-primary.btn-main {
    height: 33px;
    border-radius: 8px;
    background-color: #ffffff;
    color: #FD4343;
    border: 1px solid #FD4343;
    font-family: noto;
    font-size: 17px;
    padding: 3px;
}

.btn.btn-outline-primary.btn-main:hover:hover{
    color: #ffffff;
    background-color: #FD4343;
}

.btn.btn-outline-primary.btn-main:focus{
    border: 1px solid #FD4343 !important;
}

