@font-face {
    font-family: noto;
    src: url(../font/NotoSansKR-Regular.ttf);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    background-color: #F1F1F1 !important;
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
}

.img-max-height {
    max-height: 690px;
    object-fit: cover;
    width: 100%;
}

.input-search {
    width: 47px;
    height: 33px;
    transition: all .5s !important;
    box-shadow: none !important;
    position: relative;
}

.input-search:hover {
    width: 147px;
}

.icon-search {
    position: absolute;
    top: 2px;
    right: 12px;
}

.nav-item {
    color: #000;
    font-size: 17;
    font-family: noto;
    margin-right: 50px;
}

.btn.btn-outline-primary:hover {
    background-color: #ffffff;
    color: #347EFF;
}

img {
    object-fit: none;
}

.lignes {
    border-left: 1px solid #ccc;
    height: 100px;
    margin: 0 20px;
}

.lignesfrk {
    width: 10%;
    border: none;
    height: 1.5px;
    background-color: #ccc;
    margin: 5vh auto;
}

/* nav bar  */
.input-nav {
    width: 84.6px;
    height: 33.64px;
    border-radius: 8px;
    border: 1px solid #FD4343;
    font-family: 'noto';
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #FD4343;
    background-color: transparent;
}

/* footer */
.mots {
    font-size: 16px;
    text-align: end;
}

.imgfootr {
    width: 93px;
    height: 62px;
    object-fit: cover;
}

.right {
    font-size: 14px;
    color: #8C8C8C;
}

.imglt {
    width: 56.51px;
    height: 25.53px;
    top: 6438.63px;
    left: 1283.38px;
}

.imgltsm {
    height: 18px;
    max-width: 26px;
    margin-right: 4%;
}

.dbm {
    display: none;
}

@media screen and (max-width: 768px) {
    .dnm {
        display: none !important;
    }

    .dbm {
        display: block !important;
    }

    .footer {
        background-color: #f1f1f1 !important;
    }
}


/* part1 */
.titr {
    font-size: 32px;
    font-weight: bold;
    color: #347EFF;
    text-align: end;
}

.img1 {
    width: 736px;
    height: 502.98px;
    border-radius: 20px;
}

.txt1 {
    font-family: 'noto';
    font-size: 20px;
    font-weight: 400;
    height: 29px;
    letter-spacing: 0em;
    text-align: left;
    transition: all .5s;
}

.txt1:hover{
    color: #FD4343;
    padding-left: 20px;
}
/* part 2 */
.titr1 {
    font-family: 'noto';
    font-size: 40px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #FD4343;
}

.img2 {
    margin-top: 115px;
    display: block;
    width: 100%;
    border-radius: 20px;
}

.crd2 {
    position: relative;
    display: inline-block;
}

.titr2 {
    position: absolute;
    top: 35%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.card {
    width: 368px;
    height: 366px;
    border-radius: 20px;
    transition: all .5s;
}

.card:hover{
    border: 2px solid #FD4343;
}

.card:hover .titr3 {
    font-family: 'noto';
font-size: 48px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0em;
text-align: center;
   }

.titr3 {
    font-family: 'noto';
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;
    color: #FD4343;
    transition: all .5s;
}

.pg3 {
    font-family: 'noto';
    font-size: 28px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: start;
}

/* part 3 */
.titr4 {
    font-family: 'noto';
    font-size: 36px;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: center;

}

.prt3p {
    font-family: 'noto';
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

.img3 {
    height: 290px;
    object-fit: contain;
}

.carousel-control-prev-icon-gauche {
    background-image: url("../images/gauche.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    opacity: 1 !important;
}

.carousel-control-prev-icon-droite {
    background-image: url("../images/droit.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    opacity: 1 !important;
}





/* part4 */
.pprt4 {
    width: 645px;
    height: 115px;
    font-family: 'noto';
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
}

/* part 5 */

.btnactv {
    width: 203px;
    height: 52px;
    border-radius: 29.5px;
    border: 2px solid #FD4343;
    color: #FD4343;
    font-family: 'noto';
    font-size: 28px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    box-shadow: none !important;
    outline: none !important;
    width: 203px;
}
.btnactv:hover {
    color: #FD4343 !important;
}
.btninactv {
    font-family: 'noto';
    font-size: 28px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    color: #C4C2D4;
    border: transparent;
    box-shadow: none !important;
    outline: none !important;
    width: 203px;
}

.ktbchng {
    width: 883px;
    height: 316px;
}

.ktbchng p {
    font-family: 'noto';
    font-size: 28px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
}

.ktbchng span {
    font-family: 'noto';
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0;
    text-align: center;
}

/* part 6 */
.prt6prt1 {
    width: 645px;
    height: 115px;
}

.titrsghyr {
    font-family: 'noto';
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.pgsghyra {
    font-family: 'noto';
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.img4 {
    width: 724px;
    height: 623px;
    border-radius: 20px;
}

#h4prt6 {
    font-family: 'noto';
    font-size: 40px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #FD4343;
}

#pprt6 {
    font-family: 'noto';
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: start;
}

#txtindx {
    font-family: 'noto';
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    color: #C4C2D4;
}

#flchindx {
    width: 25.28px;
    height: 17.92px;
    top: 14.16px;
    left: 0.6px;
    color: #FD4343;
}

/* part 7 */
.img5 {
    width: 412px;
    height: 279px;
    border-radius: 20px;
}

.p1prt7 {
    font-family: 'noto';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.p2prt7 {
    font-family: 'noto';
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #FD4343;
}

.btncrd {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 167px;
    height: 66px;
    top: 14px;
    left: 14px;
    border-radius: 33px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-family: 'noto';
    font-size: 30px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;

}

.prt7hov{
    max-width: 31%;
}

.prt7hov:hover .img5{
    border: 2px solid #FD4343;
}

.prt7hov:hover .btncrd{
    color: #FD4343;
}


/* part 8 */
#pprt8 {
    width: 765px;
    height: 125px;
    font-family: 'noto';
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #8C8C8C;
}

.img6 {
    width: 413.17px;
    height: 456.04px;
    border-radius: 20px;
}

.p1prt8  {
    font-family: 'noto';
    font-size: 23px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}


.prt8hov:hover .btncrd{
    color: #FD4343;
}


.crd81 {width:100%;
    height:auto;
    transform-origin: 60% 50%;
    display: block;
    overflow: hidden; 
}
.prt8hov:hover img{
    transform: scale(1.3) rotate(12deg);
    transition: transform 1s, .5s ease-in-out;
}

/* footer */
.foot {
    display: flex;
}

.footer-column {
    border-right: 1px solid #B3B3B3;
    margin-right: 50px;
    padding-right: 50px;
}

.footer-images {

    display: flex;
    justify-content: space-between;
    height: 230px;
    flex-direction: column;
}

.footer-images2 img {
    width: 95%;
    height: 95%;
}


.lignesft {
    margin: 52px;
}