#page-subpage section {
    padding: 50px 0;
}

.sec-con {
    background-color: #F2F7FF;
}

.sub-title2-3{

    padding-bottom: 10px;

}
#page-subpage .ligne-separtion {
    border: 1px solid #B5D0FF;
    position: relative;
    margin: 20px auto;
    width: 221px;
}

@media all and (max-width: 767px) {
    #page-subpage .sub-title {
        font-size: 1rem !important;

    }

    #page-subpage p {
        font-size: 0.8rem;
    }
}

/* section 1 */
#page-subpage #section1 {
    position: relative;
    padding-bottom: 0;
}

#page-subpage #section1 .img1 {
    width: 100%;
    max-height: 690px;
    object-fit: cover;
    position: relative;
}

#page-subpage #section1 .overlay-content {
    POSITION: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-subpage #section1 .text {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 5px 5px 10px #00000038;
}

@media all and (max-width: 767px) {
    #page-subpage #section1 .text {
        font-size: 1.55rem;
        color: #ffffff;
        top: 98%;
    }
}

#page-subpage #section1 #icnav {
    width: 100px;
}

@media all and (max-width: 767px) {
    #page-subpage #section1 #icnav {
        width: 50px;
        padding-bottom: 0;
    }
}

/* section 2 */
#page-subpage #section2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    background-color: #F2F7FF;
}

@media all and (max-width: 767px) {
    #page-subpage #section2 {
        flex-direction: column;
        padding-bottom: 3px;
    }
}

#page-subpage #section2 .btnsect2 img {
    width: 32px;
    margin-right: 10px;
}

@media all and (max-width: 767px) {
    #page-subpage #section2 .btnsect2 img {
        width: 25px;
        margin-right: 5px;
    }
}

/* section 3 */
#page-subpage #section3 .crdsess3 {
    border: 1px solid #347EFF;
    border-radius: 20px;
    height: 395px;
}

#page-subpage #section3 .crdsess3 .crdsess3prt1 {
    background-image: url("../images/kourtotunis.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    height: 222.23px;
    box-shadow: inset 0 0 0 1000px rgb(52, 126, 255, .6);
}

#page-subpage #section3 .crdsess3 .crdsess3prt1 p {
    padding-top: 88px;
}

#page-subpage #section3 .crdsess3 .crdsess3prt2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 30px;
    align-items: center;
}

#page-subpage #section3 .crdsess3 .crdsess3prt2 img {
    width: 45px;
    z-index: 1;
}

#page-subpage #section3 .crdsess3 .crdsess3prt2 .route {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-subpage #section3 .crdsess3 .crdsess3prt2 .route .lignedisc {
    position: absolute;
    width: 100%;
    border-top: 2px dashed;
}

#page-subpage #section3 .crdsess3 .crdsess3prt2 .route div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-subpage #section3 .crdsess3 .crdsess3prt2 .route div p {
    position: absolute;
    bottom: -20px;
}

#page-subpage #section3 .crdsess3 .crdsess3prt2 p {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

#page-subpage #section3 .slick-section3-web {
    display: block;
    padding-top: 20px;
}

#page-subpage #section3 .slick-section3-mobil {
    display: none;
}

@media all and (max-width: 767px) {
    #page-subpage #section3 .slick-section3-web {
        display: none;
    }

    #page-subpage #section3 .slick-section3-mobil {
        display: block;
    }
}

/* section 4 */
#page-subpage #section4 #section4-part1 {
    border: 2px solid #347EFF;
    border-radius: 20px;
}

#page-subpage #section4 #section4-part1 #imgsesss4 {
    height: 471.8px;
    width: 100%;
}

@media all and (max-width: 767px) {
    #page-subpage #section4 #section4-part1 #imgsesss4 {
        height: 266.8px;
    }
}

#page-subpage #section4 #section4-part1 .section4-part1-part1 {
    padding-left: 94px;
    padding-top: 100px !important;
}

@media all and (max-width: 767px) {
    #page-subpage #section4 #section4-part1 .section4-part1-part1 {
        padding-left: 7%;
        padding-top: 0 !important;
    }

    #page-subpage #section4 #section4-part1 .section4-part1-part1 .sub-title {
        margin-bottom: 0;
        padding-bottom: 7%;
        font-weight: 700;
    }
}

#page-subpage #section4 .section4-part2-web {
    display: block;
}

#page-subpage #section4 .section4-part2-mobil {
    display: none;
}

@media all and (max-width: 767px) {
    #page-subpage #section4 .section4-part2-web {
        display: none;
    }

    #page-subpage #section4 .section4-part2-mobil {
        display: block;
    }

    #page-subpage #section4 .section4-part2-mobil .slick-section4 .row .col-lg-6{
        padding-left: 0;
        padding-right: 1%;
    }
}

#page-subpage #section4 .section4-part2 .row .col-lg-6 {
    margin-bottom: 1%;
    height: 63px !important;
}

@media all and (max-width: 767px) {
    #page-subpage #section4 .section4-part2 .row .col-lg-6 {
        height: 76px !important;
    }
}

#page-subpage #section4 .section4-part2 .sect4crd {
    border: 1.06px solid #B5D0FF;
    border-radius: 20px;
    display: flex;
    height: 100%;
}

@media all and (max-width: 767px) {
    #page-subpage #section4 .section4-part2-mobil .sect4crd {
        margin-left: 2%;
    }

    #page-subpage #section4 .section4-part2-mobil .sect4crd .pl-lg-3 {
        padding-left: 4%;
        padding-top: 3%;
    }
}

#page-subpage #section4  .section4-part2  .btnday:active{
    border: 1px solid #347EFF;
    color: #347EFF;
}


/* section 5 */
#page-subpage #section5 .one-time-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
#page-subpage #section5 .one-time-slide img{
    cursor: pointer;
    border-radius: 20px !important;
    height: 97%;
}
#page-subpage #section5 .sess1direct img {
    margin-right: 10px;
}
#page-subpage #section5 .sess1direct{
    position: absolute;
    bottom: 20px;
    z-index: 1;
}

#page-subpage #section5 #imgsess1{
    border-radius: 20px;
    border: 1px solid #347EFF;
    width: 100%;
    height: 508px;
    margin-top: 50px;
    object-fit: cover;
}


.wrap-trips-routes {
    display: flex;
    gap: 50px;
    padding: 50px;
    border: 1px solid #347EFF;
    border-radius: 20px;
    margin-top: 65px;
}
.wrap-trips-routes .img-container {
    position: relative;

}
.wrap-trips-routes .img-container img {
    border-radius: 20px;
}
.wrap-trips-routes .wrap-single-zone {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #494949b0;
    z-index: 2;
    overflow: hidden;
    border-radius: 20px;
    transition: all .3s ease;
    border: 2px solid #347EFF;
    opacity: 1;
    color: transparent;
    padding: 7px 10px;
    line-height: 1.15;
    cursor: pointer;
}

.wrap-trips-routes .wrap-single-zone:hover {
    opacity: 1;
    width: 170px;
    height: 220px;
    overflow-y: auto;
    border-radius: 10px;
    background: #ffffff;
    color: #000000;
}

.zone-long-description {
    display: none!important;
}

.wrap-trips-routes .wrap-trips-routes-infos .main-title {
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.wrap-trips-routes .wrap-trips-routes-infos p {
    line-height: 2;
}

.wrap-trips-routes-infos .content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrap-trips-routes-infos .top-long-description  {
    height:  320px;
}

.wrap-trips-routes-infos .top-long-description .wrap-btn-action {
    margin-top: 30px;
}

.wrap-trips-routes-infos .top-long-description .wrap-btn-action .tag-info {
    margin-right: 10px;
}




.tag-info {
    border: 1px solid #B5D0FF;
    border-radius: 50px;
    padding: 10px 20px 12px;
    background: #669dff;
    color: #f1f1f1;
    font-size: 1.1rem;
    font-weight: 600;
    display: inline-block;
    line-height: 1;
}

@media all and (max-width: 767px) {
    .wrap-trips-routes {
        flex-direction: column;
        padding: 0px;
    }
    .wrap-trips-routes .img-container img {
        max-width: 100%;
        height: auto;
    }
    .wrap-trips-routes .wrap-trips-routes-infos {
        padding: 15px;
    }
    .wrap-trips-routes-infos .top-long-description {
        margin-bottom: 35px;
    }
    #page-subpage #section5 #imgsess1 {
        height: 235px;
        margin-top: 0;
    }
}

/* section 6 */
#page-subpage #section6 #section6cont {
    border: 2px solid #347EFF;
    border-radius: 20px;
    height: 452.94px;
    padding: 8%;
}

@media all and (max-width: 767px) {
    #page-subpage #section6 #section6cont {
        height: 205.94px;
    }
}

#page-subpage #section6 .flch {
    position: relative !important;
    opacity: 1 !important;
    width: 30px;
}

#page-subpage #section6 .carousel-control-prev-icon-gauche {
    background-image: url("../images/lftbl.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    opacity: 1 !important;
}

#page-subpage #section6 .carousel-control-prev-icon-droite {
    background-image: url("../images/rgtbl.svg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    opacity: 1 !important;
}

#page-subpage #section6 #crcl1sess6 {
    width: 20px;
    background-image: url("../images/ptbl.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 15px;
}

#page-subpage #section6 #crcl2sess6,
#page-subpage #section6 #crcl3sess6,
#page-subpage #section6 #crcl4sess6,
#page-subpage #section6 #crcl5sess6,
#page-subpage #section6 #crcl6sess6,
#page-subpage #section6 #crcl7sess6 ,
#page-subpage #section6 #crcl8sess6 ,
#page-subpage #section6 #crcl9sess6 ,
#page-subpage #section6 #crcl10sess6, 
#page-subpage #section6 #crcl11sess6 {
    width: 20px;
    background-image: url("../images/ftbl.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 15px;
}

@media all and (max-width: 767px) {
    #page-subpage #section6 #section6cont {
        height: 205.94px;
    }

    #page-subpage #section6 #crcl1sess6,
    #page-subpage #section6 #crcl2sess6,
    #page-subpage #section6 #crcl3sess6,
    #page-subpage #section6 #crcl4sess6,
    #page-subpage #section6 #crcl5sess6,
    #page-subpage #section6 #crcl6sess6,
    #page-subpage #section6 #crcl7sess6 {
        margin: 0px 3px;
    }
}
